core/src/test/resources/generate_product_xsds/cbs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/cbs.xml
    GENERATED ON: 2012-11-19T08:36:52.321-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/cbs"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/cbs">
   <element name="product" type="p:CloudBlockStorageType"/>
   <complexType name="CloudBlockStorageType">
      <annotation>
         <documentation>
            <html:p>CBS specific usage fields related to the volume.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudBlockStorage"/>
      <attribute name="type" use="required" type="p:typeEnum">
         <annotation>
            <documentation>
               <html:p>Describes the type of volume used. SSD is high performance based. SATA is standard.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="provisioned" use="required" type="p:provisionedType">
         <annotation>
            <documentation>
               <html:p>The amount of storage provisioned for the volume.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="GB"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="VOLUME"/>
      </restriction>
   </simpleType>
   <simpleType name="typeEnum">
      <restriction base="xsd:string">
         <enumeration value="SATA"/>
         <enumeration value="SSD"/>
      </restriction>
   </simpleType>
   <simpleType name="provisionedType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="1024"/>
      </restriction>
   </simpleType>
</xsd:schema>
