core/src/test/resources/generate_product_xsds/cloudfilesStorageUsage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/cloudfilesStorageUsage.xml
    GENERATED ON: 2012-11-01T17:36:30.884-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/cloudfiles/storage"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/cloudfiles/storage">
   <element name="product" type="p:CloudFilesType"/>
   <complexType name="CloudFilesType">
      <annotation>
         <documentation>
            <html:p>CloudFiles account storage information.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudFiles"/>
      <attribute name="disk" use="required" type="p:diskType">
         <annotation>
            <documentation>
               <html:p>The amount of disk usage in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="freeops" use="required" type="xsd:unsignedInt">
         <annotation>
            <documentation>
               <html:p>The number of free operations.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="costops" use="required" type="xsd:unsignedInt">
         <annotation>
            <documentation>
               <html:p>The number of cost operations</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="diskType">
      <restriction base="xsd:unsignedLong">
         <maxInclusive value="112589990684262400"/>
      </restriction>
   </simpleType>
</xsd:schema>
