core/src/test/resources/generate_product_xsds/cloudbackupLicense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/cloudbackupLicense.xml
    GENERATED ON: 2012-09-17T01:16:11.856-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/cloudbackup/license"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/cloudbackup/license">
   <element name="product" type="p:CloudBackupType"/>
   <complexType name="CloudBackupType">
      <annotation>
         <documentation>
            <html:p>Cloud Backup periodic license event.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudBackup"/>
      <attribute name="serverID" use="required">
         <annotation>
            <documentation>
               <html:p>Server ID, where the agent in installed.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
         <simpleType>
            <union memberTypes="xsd:int p:UUID"/>
         </simpleType>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="AGENT"/>
      </restriction>
   </simpleType>
   <simpleType name="UUID">
      <restriction base="xsd:string">
         <length value="36" fixed="true"/>
         <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
      </restriction>
   </simpleType>
</xsd:schema>
