core/src/test/resources/generate_product_xsds/cloudfilesCDNUsage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/cloudfilesCDNUsage.xml
    GENERATED ON: 2012-11-01T17:36:30.61-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth">
   <element name="product" type="p:CloudFilesType"/>
   <complexType name="CloudFilesType">
      <annotation>
         <documentation>
            <html:p>CloudFiles account CDN usage information.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudFiles"/>
      <attribute name="cdnBandwidthOut" use="required" type="p:cdnBandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="cdnBandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <maxInclusive value="109951162777600"/>
      </restriction>
   </simpleType>
</xsd:schema>
