core/src/test/resources/generate_product_xsds/domain-registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/shin4590/AHsrc/forks/standard-usage-schemas/sample_product_schemas/domain-registration.xml
    GENERATED ON: 2013-03-22T10:13:09.891-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/domain"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/domain">
   <element name="product" type="p:DomainRegistrationType"/>
   <complexType name="DomainRegistrationType">
      <annotation>
         <documentation>
            <html:p>Subscription event for Domain Registration.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="DomainRegistration"/>
      <attribute name="action" use="required" type="p:actionEnum">
         <annotation>
            <documentation>
               <html:p>The action being taken with this domain registration.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="purchaseTenure" use="required" type="p:purchaseTenureType">
         <annotation>
            <documentation>
               <html:p>Purchase tenure in years.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="expirationDate" use="required" type="p:UTCDateTime">
         <annotation>
            <documentation>
               <html:p>The date the domain registration expires.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isAutoRenew"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>A boolean indicating that a user has selected to auto-renew this site.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes displayName="Auto-renew"
                                 aggregateFunction="NONE"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="endUserTenantId" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>The endUser tenantId associated with this domain registration.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="DOMAIN_SUBSCRIPTION"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
      <restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">
         <assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="actionEnum">
      <restriction base="xsd:Name">
         <enumeration value="REGISTRATION"/>
         <enumeration value="RENEWAL"/>
         <enumeration value="TRANSFER"/>
      </restriction>
   </simpleType>
   <simpleType name="purchaseTenureType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="10"/>
      </restriction>
   </simpleType>
</xsd:schema>
