core/src/test/resources/generate_product_xsds/glance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/matt.kovacs/git-forks/standard-usage-schemas/sample_product_schemas/glance.xml
    GENERATED ON: 2013-03-26T13:48:24.078-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/glance"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/glance">
   <element name="product" type="p:GlanceType"/>
   <complexType name="GlanceType">
      <annotation>
         <documentation>
            <html:p>Server backup storage.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="Glance"/>
      <attribute name="storage" use="required" type="p:storageType">
         <annotation>
            <documentation>
               <html:p>The amount of storage consumed by this backup.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="AVG"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="serverId" use="required">
         <annotation>
            <documentation>
               <html:p>Server ID, where the backup was taken from.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
         <simpleType>
            <union memberTypes="xsd:int p:UUID"/>
         </simpleType>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="BACKUP"/>
      </restriction>
   </simpleType>
   <simpleType name="UUID">
      <restriction base="xsd:string">
         <length value="36" fixed="true"/>
         <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
      </restriction>
   </simpleType>
   <simpleType name="storageType">
      <restriction base="xsd:unsignedLong">
         <maxInclusive value="2199023255552"/>
      </restriction>
   </simpleType>
</xsd:schema>
