core/src/test/resources/generate_product_xsds/identity-token.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/identity-token.xml
    GENERATED ON: 2012-10-08T14:04:43.358-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/identity/token"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/token">
   <element name="product" type="p:CloudIdentityType"/>
   <complexType name="CloudIdentityType">
      <annotation>
         <documentation>
            <html:p>Token invalidation event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
      <attribute name="tenants" use="optional" type="p:tenantsList">
         <annotation>
            <documentation>
               <html:p>The IDs of the tenant associated with this token, if any.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="TOKEN"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="tenantsList">
      <list itemType="p:string"/>
   </simpleType>
</xsd:schema>
