core/src/test/resources/generate_product_xsds/identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/identity.xml
    GENERATED ON: 2012-12-18T15:56:47.687-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/identity/user"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/user">
   <element name="product" type="p:CloudIdentityType"/>
   <complexType name="CloudIdentityType">
      <annotation>
         <documentation>
            <html:p>Identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
      <attribute name="displayName" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The display name of the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="groups" use="optional" type="p:groupsList">
         <annotation>
            <documentation>
               <html:p>The list of groups currently associated with a user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="roles" use="optional" type="p:rolesList">
         <annotation>
            <documentation>
               <html:p>The list of roles currently associated with a user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="migrated"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>True if the user has been migrated to global auth, false otherwise. The default is false.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="Name">
      <restriction base="xsd:Name">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="groupsList">
      <list itemType="p:Name"/>
   </simpleType>
   <simpleType name="rolesList">
      <list itemType="p:Name"/>
   </simpleType>
</xsd:schema>
