core/src/test/resources/generate_product_xsds/maas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/maas.xml
    GENERATED ON: 2012-09-04T00:08:49.31-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/maas"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/maas">
   <element name="product" type="p:CloudMonitoringType"/>
   <complexType name="CloudMonitoringType">
      <annotation>
         <documentation>
            <html:p>MaaS specific usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudMonitoring"/>
      <attribute name="monitoringZones" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of monitoring zones.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="true"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="checkType" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>The type of check being performed.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="CHECK"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
