core/src/test/resources/generate_product_xsds/nova-ips.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/nova-ips.xml
    GENERATED ON: 2012-12-19T17:08:25.53-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/nova/ips"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/nova/ips">
   <element name="product" type="p:CloudServersOpenStackType"/>
   <complexType name="CloudServersOpenStackType">
      <annotation>
         <documentation>
            <html:p>Additional IP information.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServersOpenStack"/>
      <attribute name="ips" use="required" type="p:ipsType">
         <annotation>
            <documentation>
               <html:p>The number of additional IPs for an instance.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="INSTANCE"/>
      </restriction>
   </simpleType>
   <simpleType name="ipsType">
      <restriction base="xsd:unsignedByte">
         <minInclusive value="0"/>
         <maxInclusive value="40"/>
      </restriction>
   </simpleType>
</xsd:schema>
