core/src/test/resources/generate_product_xsds/servers-bandwidth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/btruitt/workspace/standard-usage-schemas/sample_product_schemas/servers-bandwidth.xml
    GENERATED ON: 2013-01-10T16:34:03.298-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/servers/bandwidth"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/servers/bandwidth">
   <element name="product" type="p:CloudServersType"/>
   <complexType name="CloudServersType">
      <annotation>
         <documentation>
            <html:p>Usage message for slice bandwidth.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
      <attribute name="bandwidthIn" use="required" type="p:bandwidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="KB"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOut" use="required" type="p:bandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="KB"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SLICE"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
</xsd:schema>
