core/src/test/resources/generate_product_xsds/servers-slice-action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/shin4590/AHsrc/forks/standard-usage-schemas/sample_product_schemas/servers-slice-action.xml
    GENERATED ON: 2013-03-26T08:54:52.536-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/servers/slice"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/servers/slice">
   <element name="product" type="p:CloudServersType"/>
   <complexType name="CloudServersType">
      <annotation>
         <documentation>
            <html:p>Slice Action Event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="INFO"/>
         </appinfo>
      </annotation>
      <all>
         <element name="sliceMetaData" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="key" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The key</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="value" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The value</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
         <element name="additionalPublicAddress" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="ip" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The ip</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="dns1" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The dns1</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="dns2" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The dns1</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </all>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
      <attribute name="managed" use="required" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Is slice Managed.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="imageId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Image ID for the Slice.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="options" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Options for the Slice.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="huddleId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The huddle ID.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="serverId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Server ID for the Slice.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="action" use="required" type="p:actionEnum">
         <annotation>
            <documentation>
               <html:p>The action that caused this event to be created.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes searchable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="imageName" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The name of the image</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="customerId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Customer ID for the Slice.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="flavorId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Flavor ID for the Slice.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="required" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>The status.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes searchable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="sliceType" use="required" type="p:sliceTypeEnum">
         <annotation>
            <documentation>
               <html:p>The slice type.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="privateIp" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The private ip of the slice</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="publicIp" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The public ip of the slice</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="dns1" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The dns1 of the slice</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="dns2" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The dns2 of the slice</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="createdAt" use="required" type="p:UTCDateTime">
         <annotation>
            <documentation>
               <html:p>The date the slice was created.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SLICE"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
      <restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">
         <assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="actionEnum">
      <restriction base="xsd:string">
         <enumeration value="RESIZE"/>
         <enumeration value="REBOOT"/>
         <enumeration value="PASSWORD_RESET_DONE"/>
         <enumeration value="ADD_ALTERNATE_IP"/>
         <enumeration value="RENAME"/>
         <enumeration value="KERNEL_UP_TO_DATE"/>
         <enumeration value="HARD_REBOOT"/>
         <enumeration value="DELETE_IP"/>
         <enumeration value="BUILD"/>
         <enumeration value="DESTROY"/>
         <enumeration value="ADD_IP_NO_CONFIG"/>
         <enumeration value="DELETE_IP_NO_CONFIG"/>
         <enumeration value="KERNEL_UPDATE_FAILED"/>
         <enumeration value="UPGRADE_DEVICE_SERVICE_LEVEL"/>
         <enumeration value="DOWNGRADE_DEVICE_SERVICE_LEVEL"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:string">
         <enumeration value="BUILD"/>
         <enumeration value="ACTIVE"/>
         <enumeration value="DELETED"/>
         <enumeration value="QUEUE_RESIZE"/>
         <enumeration value="PREP_RESIZE"/>
         <enumeration value="RESIZE"/>
         <enumeration value="VERIFY_RESIZE"/>
         <enumeration value="QUEUE_MOVE"/>
         <enumeration value="PREP_MOVE"/>
         <enumeration value="MOVE"/>
         <enumeration value="VERIFY_MOVE"/>
         <enumeration value="ERROR"/>
         <enumeration value="ERROR_ASYNC"/>
         <enumeration value="RESCUE"/>
         <enumeration value="SUSPENDED"/>
         <enumeration value="PENDING"/>
         <enumeration value="MAINTENANCE"/>
         <enumeration value="CLONE"/>
      </restriction>
   </simpleType>
   <simpleType name="sliceTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="CLOUD"/>
         <enumeration value="SLICE"/>
      </restriction>
   </simpleType>
</xsd:schema>
