core/src/test/resources/generate_product_xsds/servers-image-action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/matt.kovacs/git-forks/standard-usage-schemas/sample_product_schemas/servers-image-action.xml
    GENERATED ON: 2013-02-12T13:26:03.362-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/servers/image"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/servers/image">
   <element name="product" type="p:CloudServersType"/>
   <complexType name="CloudServersType">
      <annotation>
         <documentation>
            <html:p>Image Action Event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="INFO"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
      <attribute name="sliceId" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The slice ID.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="action" use="required" type="p:actionEnum">
         <annotation>
            <documentation>
               <html:p>The action.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="imageName" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The name of the image</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="IMAGE"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="actionEnum">
      <restriction base="xsd:string">
         <enumeration value="SERVICE_LEVEL_CHANGE_SNAP_KILLED"/>
         <enumeration value="SNAPSHOT"/>
         <enumeration value="SERVICE_LEVEL_CHANGE_SNAP_SUCCESSFUL"/>
      </restriction>
   </simpleType>
</xsd:schema>
