core/src/test/resources/generate_product_xsds/sites-meter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/shin4590/AHsrc/forks/standard-usage-schemas/sample_product_schemas/sites-meter.xml
    GENERATED ON: 2013-04-02T15:29:05.257-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/metered"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/metered">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>Metered usage for a site.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="bandWidthOut" use="required" type="p:bandWidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="requestCount" use="required" type="p:requestCountType">
         <annotation>
            <documentation>
               <html:p>The request count for the site.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="computeCycles"
                 use="optional"
                 default="0"
                 type="p:computeCyclesType">
         <annotation>
            <documentation>
               <html:p>The compute cycles for the site.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SITE"/>
      </restriction>
   </simpleType>
   <simpleType name="bandWidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="2199023255552"/>
      </restriction>
   </simpleType>
   <simpleType name="requestCountType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="600000"/>
      </restriction>
   </simpleType>
   <simpleType name="computeCyclesType">
      <restriction base="xsd:double">
         <minInclusive value="0"/>
         <maxInclusive value="12500"/>
      </restriction>
   </simpleType>
</xsd:schema>
