core/src/test/resources/generate_product_xsds/sites-ssl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/sites-ssl.xml
    GENERATED ON: 2013-02-07T11:32:04.637-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/ssl"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/ssl">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>SSL usage for a site.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="SSLenabled" use="required" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Was SSL usage enabled.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="MAX"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SITE"/>
      </restriction>
   </simpleType>
</xsd:schema>
