core/src/test/resources/generate_product_xsds/sites-netapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: /sample_product_schemas/sites-netapp.xml
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/netapp"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/netapp">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>Total netapp for a particular tenant.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="groupName" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The group name that corresponds to what Netapp uses to identify user accounts.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="storage" use="required" type="p:storageType">
         <annotation>
            <documentation>
               <html:p>The amount of storage bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="AVG"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numFiles" use="required" type="p:numFilesType">
         <annotation>
            <documentation>
               <html:p>The number of files.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="volume" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The volume that corresponds to the location in Netapp where the usage originates.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="storageType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="13194139533312"/>
      </restriction>
   </simpleType>
   <simpleType name="numFilesType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="300000000"/>
      </restriction>
   </simpleType>
</xsd:schema>
