core/src/test/resources/generate_product_xsds/sites-db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/matt.kovacs/git-forks/standard-usage-schemas/sample_product_schemas/sites-db.xml
    GENERATED ON: 2013-01-10T10:47:15.314-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/db"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/db">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>Total usage for sites db.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="storage" use="required" type="p:storageType">
         <annotation>
            <documentation>
               <html:p>The amount of disk storage.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="AVG"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if (@resourceType = 'MYSQL') then (@storage &lt;= 483183820800) else true()"
              xerces:message="The storage cannot exceed 483183820800 bytes if the resourceType is MYSQL."
              saxon:message="The storage cannot exceed 483183820800 bytes if the resourceType is MYSQL.">
         <annotation>
            <documentation>
               <html:p>Assertion: The storage cannot exceed 483183820800 bytes if the resourceType is MYSQL.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="MYSQL"/>
         <enumeration value="MSSQL"/>
      </restriction>
   </simpleType>
   <simpleType name="storageType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="644245094400"/>
      </restriction>
   </simpleType>
</xsd:schema>
