core/src/test/resources/generate_product_xsds/widget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/widget.xml
    GENERATED ON: 2012-09-04T00:08:49.543-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/widget"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/widget">
   <element name="product" type="p:WidgetType"/>
   <complexType name="WidgetType">
      <annotation>
         <documentation>
            <html:p>Widget specific user fields</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="Widget"/>
      <attribute name="label" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>Human readable name.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="mid" use="required" type="p:UUID">
         <annotation>
            <documentation>
               <html:p>An example of an UUID.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="str" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>An optional string.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="widget_id_list" use="optional" type="p:widget_id_listList">
         <annotation>
            <documentation>
               <html:p>A list of integers.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="same_int" use="optional" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>An integer of some kind. Only the last value is taken into account.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="LAST"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="num_checks" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>A single integer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="disabled"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>A boolean.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes displayName="Disabled"
                                 aggregateFunction="NONE"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="time" use="required" type="p:UTCTime">
         <annotation>
            <documentation>
               <html:p>A time in UTC.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="dateTime" use="required" type="p:UTCDateTime">
         <annotation>
            <documentation>
               <html:p>A datetime in UTC.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="enumList" use="required" type="p:enumListList">
         <annotation>
            <documentation>
               <html:p>A list of enumertation strings.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="WIDGET"/>
         <enumeration value="GADGET"/>
      </restriction>
   </simpleType>
   <simpleType name="UUID">
      <restriction base="xsd:string">
         <length value="36" fixed="true"/>
         <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
      <restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">
         <assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="UTCTime">
      <restriction base="xsd:time">
         <assertion vc:minVersion="1.1"
                    test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The time should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The time should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="widget_id_listList">
      <list itemType="xsd:int"/>
   </simpleType>
   <simpleType name="enumListList">
      <list itemType="p:enumListEnum"/>
   </simpleType>
   <simpleType name="enumListEnum">
      <restriction base="xsd:Name">
         <enumeration value="BEST"/>
         <enumeration value="BETTER"/>
         <enumeration value="WORST"/>
      </restriction>
   </simpleType>
</xsd:schema>
