core/src/test/resources/wadl/product.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS WADL IS AUTOGENERATED DO NOT EDIT
    GENERATED ON: 2013-03-26T13:55:50.418-05:00
    PRODUCT SCHEMAS:
           ahop-count.xml
           cbs-snapshot.xml
           cbs.xml
           cloudbackupBandwidthIn.xml
           cloudbackupBandwidthOut.xml
           cloudbackupLicense.xml
           cloudbackupStorage.xml
           cloudfilesBandwidthUsage.xml
           cloudfilesCDNUsage.xml
           cloudfilesStorageUsage.xml
           dbaas.xml
           domain-registration.xml
           glance.xml
           identity-token.xml
           identity.xml
           lbaas.xml
           maas.xml
           nova-ips.xml
           nova-updown.xml
           nova.xml
           redhat.xml
           servers-bandwidth.xml
           servers-heartbeart.xml
           servers-image-action.xml
           servers-slice-action.xml
           servers-slice.xml
           servers.xml
           sites-db.xml
           sites-meter.xml
           sites-netapp.xml
           sites-ssl.xml
           sites-subscription.xml
           widget.xml
-->
<application xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
             xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:event="http://docs.rackspace.com/core/event"
             xmlns:atom="http://www.w3.org/2005/Atom"
             xmlns:novaHost="http://docs.rackspace.com/event/nova/host"
             xmlns:w_ns1="http://docs.rackspace.com/event/atom-hopper/feedcount"
             xmlns:w_ns2="http://docs.rackspace.com/usage/cbs/snapshot"
             xmlns:w_ns3="http://docs.rackspace.com/usage/cbs"
             xmlns:w_ns4="http://docs.rackspace.com/usage/cloudbackup/bandwidthIn"
             xmlns:w_ns5="http://docs.rackspace.com/usage/cloudbackup/bandwidthOut"
             xmlns:w_ns6="http://docs.rackspace.com/usage/cloudbackup/license"
             xmlns:w_ns7="http://docs.rackspace.com/usage/cloudbackup/storage"
             xmlns:w_ns8="http://docs.rackspace.com/usage/cloudfiles/bandwidth"
             xmlns:w_ns9="http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth"
             xmlns:w_ns10="http://docs.rackspace.com/usage/cloudfiles/storage"
             xmlns:w_ns11="http://docs.rackspace.com/usage/dbaas"
             xmlns:w_ns12="http://docs.rackspace.com/event/domain"
             xmlns:w_ns13="http://docs.rackspace.com/usage/glance"
             xmlns:w_ns14="http://docs.rackspace.com/event/identity/token"
             xmlns:w_ns15="http://docs.rackspace.com/event/identity/user"
             xmlns:w_ns16="http://docs.rackspace.com/usage/lbaas"
             xmlns:w_ns17="http://docs.rackspace.com/usage/maas"
             xmlns:w_ns18="http://docs.rackspace.com/usage/nova/ips"
             xmlns:w_ns19="http://docs.rackspace.com/event/nova/host"
             xmlns:w_ns20="http://docs.rackspace.com/event/nova"
             xmlns:w_ns21="http://docs.rackspace.com/event/RHEL"
             xmlns:w_ns22="http://docs.rackspace.com/event/servers/bandwidth"
             xmlns:w_ns23="http://docs.rackspace.com/event/servers/heartbeat"
             xmlns:w_ns24="http://docs.rackspace.com/event/servers/image"
             xmlns:w_ns25="http://docs.rackspace.com/event/servers/slice"
             xmlns:w_ns26="http://docs.rackspace.com/event/servers"
             xmlns:w_ns27="http://docs.rackspace.com/event/servers/hostserver"
             xmlns:w_ns28="http://docs.rackspace.com/usage/sites/db"
             xmlns:w_ns29="http://docs.rackspace.com/usage/sites/metered"
             xmlns:w_ns30="http://docs.rackspace.com/usage/sites/netapp"
             xmlns:w_ns31="http://docs.rackspace.com/usage/sites/ssl"
             xmlns:w_ns32="http://docs.rackspace.com/usage/sites/subscription"
             xmlns:w_ns33="http://docs.rackspace.com/usage/widget">
   <resource_type id="AtomHopper">
      <method id="addAtomHopperEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="update"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UPDATE']) then (/atom:entry/atom:content/event:event[@type='UPDATE']/w_ns1:product) else true()"
                      rax:message="Only update messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/atom-hopper/feedcount"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','CREATE','USAGE_SNAPSHOT','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudBlockStorage">
      <method id="addCloudBlockStorageEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns2:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns3:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/cbs/snapshot, http://docs.rackspace.com/usage/cbs"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudBackup">
      <method id="addCloudBackupEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns4:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns5:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns6:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns7:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/cloudbackup/bandwidthIn, http://docs.rackspace.com/usage/cloudbackup/bandwidthOut, http://docs.rackspace.com/usage/cloudbackup/license, http://docs.rackspace.com/usage/cloudbackup/storage"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudFiles">
      <method id="addCloudFilesEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns8:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns9:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns10:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/cloudfiles/bandwidth, http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth, http://docs.rackspace.com/usage/cloudfiles/storage"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudDatabase">
      <method id="addCloudDatabaseEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns11:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/dbaas"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="DomainRegistration">
      <method id="addDomainRegistrationEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage_snapshot"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']) then (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns12:product) else true()"
                      rax:message="Only usage_snapshot messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/domain"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','CREATE','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="Glance">
      <method id="addGlanceEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns13:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/glance"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudIdentity">
      <method id="addCloudIdentityEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="create"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='CREATE']) then (/atom:entry/atom:content/event:event[@type='CREATE']/w_ns15:product) else true()"
                      rax:message="Only create messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/identity/user"/>
               <param name="update"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UPDATE']) then (/atom:entry/atom:content/event:event[@type='UPDATE']/w_ns15:product) else true()"
                      rax:message="Only update messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/identity/user"/>
               <param name="delete"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DELETE']) then (/atom:entry/atom:content/event:event[@type='DELETE']/w_ns14:product,/atom:entry/atom:content/event:event[@type='DELETE']/w_ns15:product) else true()"
                      rax:message="Only delete messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/identity/token, http://docs.rackspace.com/event/identity/user"/>
               <param name="suspend"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='SUSPEND']) then (/atom:entry/atom:content/event:event[@type='SUSPEND']/w_ns15:product) else true()"
                      rax:message="Only suspend messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/identity/user"/>
               <param name="unsuspend"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UNSUSPEND']) then (/atom:entry/atom:content/event:event[@type='UNSUSPEND']/w_ns15:product) else true()"
                      rax:message="Only unsuspend messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/identity/user"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','USAGE_SNAPSHOT','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudLoadBalancers">
      <method id="addCloudLoadBalancersEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns16:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/lbaas"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess href="lbaas.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudMonitoring">
      <method id="addCloudMonitoringEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns17:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/maas"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudServersOpenStack">
      <method id="addCloudServersOpenStackEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns18:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns20:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/nova/ips, http://docs.rackspace.com/event/nova"/>
               <param name="up"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UP']) then (/atom:entry/atom:content/event:event[@type='UP']/w_ns19:product) else true()"
                      rax:message="Only up messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/nova/host"/>
               <param name="down"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DOWN']) then (/atom:entry/atom:content/event:event[@type='DOWN']/w_ns19:product) else true()"
                      rax:message="Only down messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/nova/host"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <param name="checkUp"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type = 'UP') then not(/atom:entry/atom:content/event:event/novaHost:product/@checkStatus = 'CRITICAL') else true()"
                      rax:message="If message is UP type then checkStatus cannot be CRITICAL."/>
               <param name="checkDown"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type = 'DOWN') then not(/atom:entry/atom:content/event:event/novaHost:product/@checkStatus = 'OK') else true()"
                      rax:message="If message is DOWN type then checkStatus cannot be OK."/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="RHEL">
      <method id="addRHELEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns21:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/RHEL"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudServers">
      <method id="addCloudServersEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns22:product,/atom:entry/atom:content/event:event[@type='USAGE']/w_ns26:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/servers/bandwidth, http://docs.rackspace.com/event/servers"/>
               <param name="up"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UP']) then (/atom:entry/atom:content/event:event[@type='UP']/w_ns23:product) else true()"
                      rax:message="Only up messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/servers/heartbeat"/>
               <param name="down"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DOWN']) then (/atom:entry/atom:content/event:event[@type='DOWN']/w_ns27:product) else true()"
                      rax:message="Only down messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/servers/hostserver"/>
               <param name="info"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='INFO']) then (/atom:entry/atom:content/event:event[@type='INFO']/w_ns24:product,/atom:entry/atom:content/event:event[@type='INFO']/w_ns25:product) else true()"
                      rax:message="Only info messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/event/servers/image, http://docs.rackspace.com/event/servers/slice"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess>
                  <xsl:stylesheet version="1.0"
                                  exclude-result-prefixes="event rax util xs w_ns1 w_ns2 w_ns3 w_ns4 w_ns5 w_ns6 w_ns7 w_ns8 w_ns9 w_ns10 w_ns11 w_ns12 w_ns13 w_ns14 w_ns15 w_ns16 w_ns17 w_ns18 w_ns19 w_ns20 w_ns21 w_ns22 w_ns23 w_ns24 w_ns25 w_ns26 w_ns27 w_ns28 w_ns29 w_ns30 w_ns31 w_ns32 w_ns33">
                     <xsl:import href="util.xsl"/>
                     <xsl:output method="xml" encoding="UTF-8"/>
                     <xsl:template match="text()" mode="category"/>
                     <xsl:template match="node() | @*" mode="category">
                        <xsl:apply-templates select="@* | node()" mode="category"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="atom:entry[atom:content/event:event/pf:product]">
                        <atom:entry>
                           <xsl:apply-templates select="@*"/>
                           <atom:id>
                              <xsl:value-of select="atom:id"/>
                           </atom:id>
                           <xsl:apply-templates mode="category" select="@* | node()"/>
                           <xsl:apply-templates select="node()"/>
                        </atom:entry>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="atom:entry[atom:content/event:event/pf:product]/atom:id"/>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="pf:product"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@action"/>
                           <xsl:with-param name="prefix" select="'action:'"/>
                        </xsl:call-template>
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@status"/>
                           <xsl:with-param name="prefix" select="'status:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                  </xsl:stylesheet>
               </rax:preprocess>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudSites">
      <method id="addCloudSitesEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns29:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/sites/metered"/>
               <param name="usage_snapshot"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']) then (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns28:product,/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns30:product,/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns31:product,/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns32:product) else true()"
                      rax:message="Only usage_snapshot messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/sites/db, http://docs.rackspace.com/usage/sites/netapp, http://docs.rackspace.com/usage/sites/ssl, http://docs.rackspace.com/usage/sites/subscription"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="Widget">
      <method id="addWidgetEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns33:product) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed in this feed: http://docs.rackspace.com/usage/widget"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
</application>
